.header{
  height: 20vh;
  background-color: $main-color;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  font-weight: 600;

}