.form{
  position: relative;
  &__input{
    min-width: 30vw;
    padding: .5rem 2rem;
    border-radius: 10px;
    border: 1px solid $gray-light-color;
    transition: all .1s;
    &:hover, &:active{
      border: 1px solid black;
    }
    &:focus{
      border: 2px solid $alternate-color-orange;
    }
  }

  &__submit{
    margin-top: 1rem;
    padding: .6rem 2rem;
    border-radius: 5px;
    background-color: $alternate-color-orange;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    transition: all .2s;
    transform: translateY(0);
    &:hover{
      border: .1px solid black;
      background-color: rgba($alternate-color-orange, 1.1);
      transform: translateY(-5px);
    }
    &:focus{
      background-color: rgba($alternate-color-orange, 1.4);
      transform: translateY(-1px);
    }
    &:active{
      background-color: rgba($alternate-color-orange, 1.6);
      transform: translateY(0);
    }
  }
}